<nav class='Global_Navi'>
  <div class='Global_Navi__Menu'>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      全商品 <br> ALL
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      メンズ <br> Man
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      レディース <br> Woman
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      キッズ <br> Kid's
    <% end %>
  </div>
</nav>

<section class='Contents'>
  <section class='Contents__Body'>
    <section class='Left_Column'>
      <%= render partial: 'render/left-column' %>
    </section>

    <section class='Right_Column'>
      <section class='Popular_Movies'>
        <% @video_likes.each do |video| %>
          <div class='YouTube_Movie'>
            <p class='YouTube_Movie--Title'><%= video.title %></p>
            <%= image_tag video.thumbnail, class: '' %>
            <p class='YouTube_Movie--Follower'>
              <span class='YouTube_Movie--Follower--Text-Big'><%= video.like_videos.count %></span> 人がブックマークしています。
            </p>
            <%= link_to youtube_video_path(video.id), class: 'YouTube_Movie__Link' do %>
              動画を観る
            <% end %>
          </div>
        <% end %>
      </section>
    </section>
  </section>
</section>
