<nav class='Global_Navi'>
  <div class='Global_Navi__Menu'>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      全商品 <br> ALL
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      メンズ <br> Man
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      レディース <br> Woman
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      キッズ <br> Kid's
    <% end %>
  </div>
</nav>

<section class='Contents'>
  <section class='Contents__Body'>
    <section class='Left_Column'>
      <div class='Left_Column__Title'>
        <h2><i class="fas fa-bars"></i> メニュー</h2>
        <p class='Left_Column__Title--Down_Text'>Menu</p>
      </div>

      <div class='Left_Column__Side-Menu'>
        <% if user_signed_in? %>
          <p class='Welcome'>
            <% if @welcome_time >= 17 %>
              こんばんは。
            <% elsif @welcome_time >= 11 %>
              こんにちは。
            <% elsif @welcome_time >= 5 %>
              おはようございます。
            <% else %>
              お疲れさまです。
            <% end %><br />

            <span class='Welcome--Name'><%= current_user.name %></span> さん
          </p>

          <%= link_to destroy_user_session_path, method: :delete, class: 'Left_Column__Side-Menu--Link' do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'Left_Column__Side-Menu--Link' do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>

          <%= link_to new_user_registration_path, class: 'Left_Column__Side-Menu--Link' do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        <% end %>
      </div>
    </section>

    <section class='Right_Column'>
      <section class='Coordinates'>
        <div class='Coordinates__Flexbox'>
          <article class='Coordinates__Flexbox__User'>
            <%#= image_tag 'model_01.jpg', class: 'Coordinates__Flexbox__User--Coordinate' %>
            <%= image_tag 'https://placehold.jp/240x320.png', class: 'Coordinates__Flexbox__User--Coordinate' %>

            <div class='Coordinates__Flexbox__User__Profile'>
              <%= image_tag 'https://placehold.jp/32x32.png', class: 'Coordinates__Flexbox__User__Profile--Image' %>
              <p class='Coordinates__Flexbox__User__Profile--Name'>匿名ユーザー</p>
            </div>
          </article>

          <article class='Coordinates__Flexbox__User'>
            <%= image_tag 'https://placehold.jp/240x320.png', class: 'Coordinates__Flexbox__User--Coordinate' %>

            <div class='Coordinates__Flexbox__User__Profile'>
              <%= image_tag 'https://placehold.jp/32x32.png', class: 'Coordinates__Flexbox__User__Profile--Image' %>
              <p class='Coordinates__Flexbox__User__Profile--Name'>匿名ユーザー</p>
            </div>
          </article>

          <article class='Coordinates__Flexbox__User'>
            <%= image_tag 'https://placehold.jp/240x320.png', class: 'Coordinates__Flexbox__User--Coordinate' %>

            <div class='Coordinates__Flexbox__User__Profile'>
              <%= image_tag 'https://placehold.jp/32x32.png', class: 'Coordinates__Flexbox__User__Profile--Image' %>
              <p class='Coordinates__Flexbox__User__Profile--Name'>匿名ユーザー</p>
            </div>
          </article>
        </div>
      </section>
    </section>
  </section>
</section>
