<header>
  <section>
    <h1><%= link_to 'Multi-0-Design', root_path %></h1>

    <nav>
      <%= link_to root_path do %>
        <i class='fas fa-home'></i><br />トップ
      <% end %>
    </nav>
  </section>
</header>

<footer>
  <%= link_to '#' do %>
    <i class='fas fa-home'></i><br />
    トップ
  <% end %>

  <%= link_to '#' do %>
    <i class='fas fa-home'></i><br />
    トップ
  <% end %>

  <%= link_to '#' do %>
    <i class='fas fa-home'></i><br />
    トップ
  <% end %>

  <%= link_to '#' do %>
    <i class='fas fa-home'></i><br />
    トップ
  <% end %>
</footer>
