<nav class='Global_Navi'>
  <div class='Global_Navi__Menu'>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      全商品 <br> ALL
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      メンズ <br> Man
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      レディース <br> Woman
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      キッズ <br> Kid's
    <% end %>
  </div>
</nav>

<section class='Contents'>
  <section class='Contents__Body'>
    <section class='Left_Column'>
      <%= render partial: 'render/left-column' %>
    </section>

    <section class='Right_Column'>
      <div class='Right_Column__Video-Lists'>
        <% if controller.controller_name == 'youtube_videos' && controller.action_name == 'create' %>
          <% video_lists.each do |video_list| %>
            <div class='Right_Column__Video-Lists__Video'>
              <h2> <%= video_list[:title] %> </h2>

              <p class='Right_Column__Video-Lists__Video__Release'>
                動画配信日：<%= Date.parse(video_list[:release_date]).strftime('%Y年 %m月 %d日') %>
              </p><br />
              <p class='Right_Column__Video-Lists__Video__Release'>
                チャンネル名：<%= video_list[:channel] %>
              </p>
              <iframe src='https://www.youtube.com/embed/<%= video_list[:video_id] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
            </div>
          <% end %>

        <% elsif controller.controller_name == 'youtube_videos' && controller.action_name == 'index' %>
          <% session[:video_lists].each do |video_list| %>
            <div class='Right_Column__Video-Lists__Video'>
              <h2> <%= video_list['title'] %> </h2>

              <p class='Right_Column__Video-Lists__Video__Release'>
                動画配信日：<%= Date.parse(video_list['release_date']).strftime('%Y年 %m月 %d日') %>
              </p><br />
              <p class='Right_Column__Video-Lists__Video__Release'>
                チャンネル名：<%= video_list['channel'] %>
              </p>
              <iframe src='https://www.youtube.com/embed/<%= video_list['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </section>
</section>

<%#= image_tag session[:video_lists_1].to_h['thumbnail'] %>
