<nav class='Global_Navi'>
  <div class='Global_Navi__Menu'>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      全商品 <br> ALL
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      メンズ <br> Man
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      レディース <br> Woman
    <% end %>
    <%= link_to '#', class: 'Global_Navi__Menu--Link' do %>
      キッズ <br> Kid's
    <% end %>
  </div>
</nav>

<section class='Contents'>
  <section class='Contents__Body'>
    <section class='Left_Column'>
      <%= render partial: 'render/left-column' %>
    </section>

    <section class='Right_Column'>
      <div class='Right_Column__Video-Lists'>
        <% if session[:video_search_count] == 1 %>
          <div class='Right_Column__Video-Lists__Video'>
            <h2> <%= session[:video_lists_1].to_h['title'] %> </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_1].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_1].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_1].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

        <% elsif session[:video_search_count] == 3 %>
          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_1].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_1].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_1].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_1].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_2].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_2].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_2].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_2].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_3].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_3].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_3].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_3].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

        <% elsif session[:video_search_count] == 5 %>
          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_1].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_1].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_1].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_1].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_2].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_2].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_2].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_2].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_3].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_3].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_3].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_3].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_4].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_4].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_4].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_4].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>

          <div class='Right_Column__Video-Lists__Video'>
            <h2>
              <%= session[:video_lists_5].to_h['title'] %>
            </h2>

            <p class='Right_Column__Video-Lists__Video__Release'>
              動画配信日：<%= Date.parse(session[:video_lists_5].to_h['release_date']).strftime('%Y年 %m月 %d日') %>
            </p><br />
            <p class='Right_Column__Video-Lists__Video__Release'>
              チャンネル名：<%= session[:video_lists_5].to_h['channel'] %>
            </p>
            <iframe src='https://www.youtube.com/embed/<%= session[:video_lists_5].to_h['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>
          </div>
        <% end %>
      </div>
    </section>
  </section>
</section>

<%#= image_tag session[:video_lists_1].to_h['thumbnail'] %>
