<section class='Main_Contents'>
  <section class='Left_Column'>
    <%= render partial: 'render/left-column' %>
  </section>

  <section class='Right_Column'>
    <% session[:video_lists].each do |video_list| %>
      <div class='YouTube_Search-Result'>
        <h2> <%= video_list['title'] %> </h2>

        <p class='YouTube_Search-Result__Tag'>
          動画配信日：<%= Date.parse(video_list['release_date']).strftime('%Y年 %m月 %d日') %>
        </p><br />
        <p class='YouTube_Search-Result__Tag'>
          チャンネル名：<%= video_list['channel'] %>
        </p>

        <div class='YouTube_Search-Result__Movie'>
          <iframe src='https://www.youtube.com/embed/<%= video_list['video_id'] %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>

          <% if user_signed_in? %>
            <% if @videos.where(video_id: video_list['video_id']).exists? %>
              <% if @video_likes.where(youtube_video_id: @videos.where(video_id: video_list['video_id'])[0].id, user_id: current_user.id).exists? %>
                <%= link_to video_like_path(@video_likes.where(youtube_video_id: @videos.where(video_id: video_list['video_id'])[0].id, user_id: current_user.id)[0].id), method: :delete, class: 'YouTube_Search-Result__Movie__Favorite' do %>
                  <i class="fas fa-bookmark"></i>
                  <p>ブックマークを<span class='YouTube_Search-Result__Movie__Favorite--Text_Decoration'>解除</span>する</p>
                <% end %>
              <% else %>
                <%= link_to(video_likes_path(channel: video_list['channel'], video_id: video_list['video_id'], title: video_list['title'], thumbnail: video_list['thumbnail'], release_date: video_list['release_date'], user_id: current_user.id), method: :post, class: 'YouTube_Search-Result__Movie__Favorite') do %>
                  <i class="far fa-bookmark"></i>
                  <p>動画を<span class='YouTube_Search-Result__Movie__Favorite--Text_Decoration'>ブックマーク</span>する</p>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to(video_likes_path(channel: video_list['channel'], video_id: video_list['video_id'], title: video_list['title'], thumbnail: video_list['thumbnail'], release_date: video_list['release_date'], user_id: current_user.id), method: :post, class: 'YouTube_Search-Result__Movie__Favorite') do %>
                <i class="far fa-bookmark"></i>
                <p>動画を<span class='YouTube_Search-Result__Movie__Favorite--Text_Decoration'>ブックマーク</span>する</p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>
