<section class='Main_Contents'>
  <section class='Left_Column'>
    <%= render partial: 'render/left-column' %>
  </section>

  <section class='Right_Column'>
    <div class='Movie_Show'>
      <h2><%= @video.title %></h2>

      <p class='Movie_Show__Tag'>
        動画配信日：<%= @video.release_date.strftime('%Y年 %m月 %d日') %>
      </p><br />
      <p class='Movie_Show__Tag'>
        チャンネル名：<%= @video.channel %>
      </p>

      <div class='Movie_Show__Movie'>
        <iframe src='https://www.youtube.com/embed/<%= @video.video_id %>?cc_load_policy=0?rel=0' allow='gyroscope; picture-in-picture' allowfullscreen></iframe>

        <!-- <% if user_signed_in? %>
          <% if @video.like_videos.where(youtube_video_id: @video.id, user_id: current_user.id).exists? %>
            <%= link_to video_like_path(@video.like_videos.where(youtube_video_id: @video.id, user_id: current_user.id)[0].id), method: :delete, class: 'Movie_Show__Movie__Favorite' do %>
              <i class="fas fa-bookmark"></i>
              <p>ブックマークを<span class='Movie_Show__Movie__Favorite--Text_Decoration'>解除</span>する</p>
            <% end %>

          <% else %>
            <%= link_to video_likes_path(video_id: @video.video_id, youtube_video_id: @video.id, user_id: current_user.id), method: :post, class: 'Movie_Show__Movie__Favorite' do %>
              <i class="far fa-bookmark"></i>
              <p>動画を<span class='Movie_Show__Movie__Favorite--Text_Decoration'>ブックマーク</span>する</p>
            <% end %>
          <% end %>
        <% end %> -->
      </div>
    </div>
  </section>
</section>
