<div class='Left_Column__Title'>
  <h2><i class="fas fa-bars"></i> メニュー</h2>
  <p class='Left_Column__Title--Down_Text'>Menu</p>
</div>

<div class='Left_Column__Side-Menu'>
  <% if user_signed_in? %>
    <p class='Welcome'>
      <% if @welcome_time >= 17 %>
        こんばんは。
      <% elsif @welcome_time >= 11 %>
        こんにちは。
      <% elsif @welcome_time >= 5 %>
        おはようございます。
      <% else %>
        お疲れさまです。
      <% end %><br />

      <span class='Welcome--Name'><%= current_user.name %></span> さん
    </p>
  <% end %>

  <% unless current_page?(root_path) %>
    <%= link_to root_path, class: 'Left_Column__Side-Menu--Link' do %>
      <i class="fas fa-home"></i> トップページ
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, class: 'Left_Column__Side-Menu--Link' do %>
      <i class="fas fa-sign-out-alt"></i> ログアウト
    <% end %>
  <% else %>
    <% unless current_page?(new_user_session_path) %>
      <%= link_to new_user_session_path, class: 'Left_Column__Side-Menu--Link' do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      <% end %>
    <% end %>
    <% unless current_page?(new_user_registration_path) %>
      <%= link_to new_user_registration_path, class: 'Left_Column__Side-Menu--Link' do %>
        <i class="fas fa-user-plus"></i> 新規登録
      <% end %>
    <% end %>
  <% end %>
</div>
