<div class='Left_Column__Title-Menu'>
  <h2><i class="fas fa-bars"></i> メニュー</h2>
  <p class='Left_Column__Title-Menu--Down_Text'>Menu</p>
</div>

<div class='Left_Column__Side-Menu'>
  <% if user_signed_in? %>
    <p class='Welcome'>
      <% if current_user.name == '採用ご担当者' %>
        ログインしていただき、ありがとうございます。
      <% elsif @welcome_time >= 17 %>
        こんばんは。
      <% elsif @welcome_time >= 11 %>
        こんにちは。
      <% elsif @welcome_time >= 5 %>
        おはようございます。
      <% else %>
        お疲れさまです。
      <% end %><br />

      <% if current_user.name == '採用ご担当者' %>
        <span class='Welcome--Name'><%= current_user.name %></span> 様
      <% else %>
        <span class='Welcome--Name'><%= current_user.name %></span> さん
      <% end %>
    </p>
  <% end %>

  <% unless current_page?(root_path) %>
    <%= link_to root_path, class: 'Left_Column__Side-Menu--Link' do %>
      <i class="fas fa-home"></i> トップページ
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, class: 'Left_Column__Side-Menu--Link' do %>
      <i class="fas fa-sign-out-alt"></i> ログアウト
    <% end %>
  <% else %>
    <% unless current_page?(new_user_session_path) %>
      <%= link_to new_user_session_path, class: 'Left_Column__Side-Menu--Link' do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      <% end %>
    <% end %>
    <% unless current_page?(new_user_registration_path) %>
      <%= link_to new_user_registration_path, class: 'Left_Column__Side-Menu--Link' do %>
        <i class="fas fa-user-plus"></i> 新規登録
      <% end %>
    <% end %>
  <% end %>
</div>

<div class='Left_Column__Title-Search'>
  <h2><i class='fas fa-search'></i> 検索</h2>
  <p class='Left_Column__Title-Search--Down_Text'>Search</p>
</div>

<div class='Left_Column__YouTube-Search'>
  <i class='fab fa-youtube'></i> YouTube 動画検索

  <%= form_with url: youtube_videos_path, method: :get, class: 'Left_Column__YouTube-Search__Form', local: true do |form| %>
    <%= form.search_field :search, placeholder: '商品名で検索', class: 'Left_Column__YouTube-Search__Form__Text' %>
    <i class="fas fa-search Left_Column__YouTube-Search__Form--Icon"></i>

    <div class='Left_Column__YouTube-Search__Form__Count'>
      <%= form.radio_button :count, 1, checked: 'checked' %> 1件，
      <%= form.radio_button :count, 3 %> 3件，
      <%= form.radio_button :count, 5 %> 5件
    </div>
  <% end %>
</div>
